body {
	margin: 0 auto;
}

* {
	font-family: Arial, Verdana, sans-serif;
}

.header {
	height: 498px;
	background-image: linear-gradient(rgba(35, 35, 36, 0.5), rgba(40, 40, 38, 0.5)),
		url("images/FP\ -\ local\ ministries.jpg");
	background-repeat: no-repeat;
	background-position: center 20%;
	background-attachment: fixed;
	background-size: cover;
	min-height: 72vh;
}

nav {
	position: fixed;
	display: flex;
	justify-content: space-between;
	background-color: rgb(62, 106, 144, 0.75);
	left: 0;
	right: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 60px;
	padding-right: 60px;
}

nav .img {
	max-width: 130px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.links {
	display: flex;
	align-items: center;
	gap: 15px;
}

.links a {
	color: white;
	text-decoration: none;
}

nav .links a:hover {
	color: white;
	text-decoration: underline;
}

.container-groups {
	padding-top: 10px;
	padding-bottom: 70px;
	padding-left: 60px;
}

.program-links {
	display: flex;
	justify-content: space-between;
	gap: 30px;
	padding-right: 620px;
	background-color: #FFFFFF;
}

.program-links img {
	width: 380px;
	height: auto;
	padding-bottom: 5px;
}

.program-links a {
	font-size: 15px;
	text-decoration: none;
	color: #5B5B5B;
}

.box a {
	color: #d1b26a;
}

.button a {
	color: #d1b26a;
}

.box-2 a {
	color: #d1b26a;
}

.button-1 a {
	color: #d1b26a;
}

.texts {
	padding-top: 70px;
	padding-bottom: 100px;
	padding-left: 80px;
	padding-right: 80px;
	background-color: #688BA8;
}


.container-texts {
	text-align: center;
	color: #FFFFFF;
}

button {
	font-size: 16px;
	background-color: #B0841F;
	color: white;
	padding: 10px 20px;
	padding-left: 20px;
	padding-right: 20px;
	border: none;
	border-radius: 30px;
	cursor: pointer;
}

a:hover {
	background-color: #D9A429;
	color: #D9A429;
}

.Newsletter {
	background-color: #F0F0F0;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 60px;
	padding-right: 60px;
}

.Newsletter-container {
	display: flex;
	align-items: center;
	gap: 20px;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

.Newsletter-container h2 {
	font-size: 36px;
	padding-left: 10px;
	padding-right: 100px;
	margin-bottom: 5px;
}

.Newsletter-container p {
	margin: 0px 0px 5px 5px;
	padding-left: 10px;
	padding-bottom: 10px;
}

.Newsletter-container.box1 p {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 20px;
}

.Newsletter-container input {
	box-shadow: #3E6A90;
	min-width: 280px;
	display: inline-block;
	width: auto;
	vertical-align: middle;
	margin-right: 5px;
	padding: 10px;
}

.Newsletter-container button {
	background-color: #3E6A90;
	color: #FFFFFF;
	padding: 10px 5x;
	font-size: 25px;
	line-height: 1.30;
	border-radius: 7px;
}

.footer {
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #6C6C6C;
}

.footer-container {
	width: 1125px;
	margin: auto;
}

hr {
	border-color: #313030;
}

.links-container {
	display: flex;
	gap: 25px;
}

.footer-container a {
	color: #f1f1f1;
	text-decoration: none
}

.footer-container .address {
	color: #f1f1f1;
}

.footer-container .media {
	display: flex;
	align-items: center;
	gap: 15px;
}

.footer-second {
	background-color: #474747;
	padding-top: 10px;
	padding-bottom: 20px;
	padding-left: 60px;
	padding-right: 60px;
	display: flex;
	justify-content: space-between;
}

.footer-rights-login {
	display: flex;
	align-items: center;
}

.footer-rights-login p {
	color: white;
	gap: 5px;
}

.footer-rights-login a {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	color: white;
	text-decoration: none;
	font-size: 86%;
	border-radius: 7px;
}

.creator {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	font-size: 16px;
	color: #FFFFFF;
}

.creator img {
	width: 80;
	height: 81;
	fill: none;
	background-color: #F0F0F0;
	color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 10px;
}

.creator a {
	background-color: #f1f1f1;
	color: #f1f1f1;
	margin-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}